@import "tailwindcss";

:root {
  --primary-color: #ff0000;
  --secondary-color: blue;
  --header-footer-color: #f0f0f0;
  --text-color: #333333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}

footer {
  background-color: var(--primary-color);
  color: var(--header-footer-color);
  text-align: center;
}

header {
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--header-footer-color);
}
