@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #ff0000;
  --secondary-color: blue;
  --header-footer-color: #f0f0f0;
  --text-color: #333333;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--header-footer-color);
}

header {
  background-color: var(--secondary-color);
  color: var(--header-footer-color);
}
